### Unity Project .gitignore File ###

# Folders To Ignore #
[Ll]ibrary
[Tt]emp
[Oo]bj
[Bb]uild
[Bb]uilds

# Project Files #
*.csproj
*.unityproj
*.sln
*.userprefs

# Misc Files #
*.pidb
.DS_Store


# Asset Store #
Assets/AssetStoreTools.meta
Assets/AssetStoreTools/Editor.meta
Assets/AssetStoreTools/Editor/AssetStoreTools.dll.meta
Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll.meta
Assets/AssetStoreTools/Editor/DroidSansMono.ttf
Assets/AssetStoreTools/Editor/DroidSansMono.ttf.meta
Assets/AssetStoreTools/Editor/icon.png
Assets/AssetStoreTools/Editor/icon.png.meta
Assets/AssetStoreTools/Labels.asset
Assets/AssetStoreTools/Labels.asset.meta
